In [91]:
import pandas as pd
import numpy as np

In [92]:
s3_path_1 = "s3://retail-business-tushar/raw_data/orders.csv"
s3_path_2 = "s3://retail-business-tushar/raw_data/product-supplier.csv"

In [93]:
df = pd.read_csv(s3_path_1)
df

,Customer ID,Customer Status,Date Order was placed,Delivery Date,Order ID,Product ID,Quantity Ordered,Total Retail Price for This Order,Cost Price Per Unit
0,579,Silver,01-Jan-17,07-Jan-17,123002578,220101400106,2,92.6,20.70
1,7574,SILVER,01-Jan-17,05-Jan-17,123004074,210201000009,1,21.7,9.95
2,28861,Gold,01-Jan-17,04-Jan-17,123000871,230100500068,1,1.7,0.80
3,43796,Gold,01-Jan-17,06-Jan-17,123002851,220100100633,1,47.9,24.05
4,54673,Gold,01-Jan-17,04-Jan-17,123003607,220200200043,1,36.9,18.30
...,...,...,...,...,...,...,...,...,...
185008,92467,SILVER,31-Dec-21,31-Dec-21,124433239,240100200001,4,64.0,6.35
185009,92866,Silver,31-Dec-21,31-Dec-21,124436561,230100500058,1,16.7,7.25
185010,92894,Silver,31-Dec-21,31-Dec-21,124434316,220200100035,5,313.0,31.40
185011,93239,Gold,31-Dec-21,02-Jan-22,124436170,220200200047,2,271.6,68.00
185012,93317,Silver,31-Dec-21,31-Dec-21,124434324,220101400196,4,95.6,10.95

In [94]:
df1 = pd.read_csv(s3_path_2)
df1

,Product ID,Product Line,Product Category,Product Group,Product Name,Supplier Country,Supplier Name,Supplier ID
0,210100100001,Children,Children Outdoors,"Outdoor things, Kids",Boy's and Girl's Ski Pants with Braces,NO,Scandinavian Clothing A/S,50
1,210100100002,Children,Children Outdoors,"Outdoor things, Kids",Children's Jacket,ES,Luna sastreria S.A.,4742
2,210100100003,Children,Children Outdoors,"Outdoor things, Kids",Children's Jacket Sidney,NO,Scandinavian Clothing A/S,50
3,210100100004,Children,Children Outdoors,"Outdoor things, Kids",Children's Rain Set,NO,Scandinavian Clothing A/S,50
4,210100100005,Children,Children Outdoors,"Outdoor things, Kids",Children's Rain Suit,NO,Scandinavian Clothing A/S,50
...,...,...,...,...,...,...,...,...
5499,240800200061,Sports,Winter Sports,Winter Sports,Top Equipe 00 White,US,Twain Inc,13198
5500,240800200062,Sports,Winter Sports,Winter Sports,Top Equipe 07 Green,US,Twain Inc,13198
5501,240800200063,Sports,Winter Sports,Winter Sports,Top Equipe 99 Black,US,Twain Inc,13198
5502,240800200064,Sports,Winter Sports,Winter Sports,Alpine Ski Bag 2-pair Black/Yellow,FR,Massif S.A.,13199
5503,240800200065,Sports,Winter Sports,Winter Sports,Alpine Ski Bag Black/Yellow,FR,Massif S.A.,13199

In [95]:
df.shape

(185013, 9)

In [96]:
df1.shape

(5504, 8)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185013 entries, 0 to 185012
Data columns (total 9 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Customer ID                        185013 non-null  int64
 1   Customer Status                    185013 non-null  object
 2   Date Order was placed              185013 non-null  object
 3   Delivery Date                      185013 non-null  object
 4   Order ID                           185013 non-null  int64
 5   Product ID                         185013 non-null  int64
 6   Quantity Ordered                   185013 non-null  int64
 7   Total Retail Price for This Order  185013 non-null  float64
 8   Cost Price Per Unit                185013 non-null  float64
dtypes: float64(2), int64(4), object(3)
memory usage: 12.7+ MB

In [98]:
df.describe()

,Customer ID,Order ID,Product ID,Quantity Ordered,Total Retail Price for This Order,Cost Price Per Unit
count,185013.000000,1.850130e+05,1.850130e+05,185013.000000,185013.000000,185013.000000
mean,45379.318745,1.237010e+08,2.289549e+11,1.671645,138.592982,38.695275
std,27231.520233,4.288138e+05,1.066198e+10,0.897982,183.848434,42.368467
min,1.000000,1.230000e+08,2.102001e+11,1.000000,0.625000,0.200000
25%,22061.000000,1.233159e+08,2.201014e+11,1.000000,39.500000,13.000000
50%,44069.000000,1.236862e+08,2.301005e+11,1.000000,83.700000,25.200000
75%,70350.000000,1.240719e+08,2.402001e+11,2.000000,170.400000,49.350000
max,94253.000000,1.245000e+08,2.408002e+11,10.000000,6382.000000,791.800000

In [99]:
data = df.copy()

In [100]:
data

,Customer ID,Customer Status,Date Order was placed,Delivery Date,Order ID,Product ID,Quantity Ordered,Total Retail Price for This Order,Cost Price Per Unit
0,579,Silver,01-Jan-17,07-Jan-17,123002578,220101400106,2,92.6,20.70
1,7574,SILVER,01-Jan-17,05-Jan-17,123004074,210201000009,1,21.7,9.95
2,28861,Gold,01-Jan-17,04-Jan-17,123000871,230100500068,1,1.7,0.80
3,43796,Gold,01-Jan-17,06-Jan-17,123002851,220100100633,1,47.9,24.05
4,54673,Gold,01-Jan-17,04-Jan-17,123003607,220200200043,1,36.9,18.30
...,...,...,...,...,...,...,...,...,...
185008,92467,SILVER,31-Dec-21,31-Dec-21,124433239,240100200001,4,64.0,6.35
185009,92866,Silver,31-Dec-21,31-Dec-21,124436561,230100500058,1,16.7,7.25
185010,92894,Silver,31-Dec-21,31-Dec-21,124434316,220200100035,5,313.0,31.40
185011,93239,Gold,31-Dec-21,02-Jan-22,124436170,220200200047,2,271.6,68.00
185012,93317,Silver,31-Dec-21,31-Dec-21,124434324,220101400196,4,95.6,10.95

In [101]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5504 entries, 0 to 5503
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product ID        5504 non-null   int64
 1   Product Line      5504 non-null   object
 2   Product Category  5504 non-null   object
 3   Product Group     5504 non-null   object
 4   Product Name      5504 non-null   object
 5   Supplier Country  5504 non-null   object
 6   Supplier Name     5504 non-null   object
 7   Supplier ID       5504 non-null   int64
dtypes: int64(2), object(6)
memory usage: 344.1+ KB

In [102]:
data_1 = df1.copy()

In [103]:
data_1

,Product ID,Product Line,Product Category,Product Group,Product Name,Supplier Country,Supplier Name,Supplier ID
0,210100100001,Children,Children Outdoors,"Outdoor things, Kids",Boy's and Girl's Ski Pants with Braces,NO,Scandinavian Clothing A/S,50
1,210100100002,Children,Children Outdoors,"Outdoor things, Kids",Children's Jacket,ES,Luna sastreria S.A.,4742
2,210100100003,Children,Children Outdoors,"Outdoor things, Kids",Children's Jacket Sidney,NO,Scandinavian Clothing A/S,50
3,210100100004,Children,Children Outdoors,"Outdoor things, Kids",Children's Rain Set,NO,Scandinavian Clothing A/S,50
4,210100100005,Children,Children Outdoors,"Outdoor things, Kids",Children's Rain Suit,NO,Scandinavian Clothing A/S,50
...,...,...,...,...,...,...,...,...
5499,240800200061,Sports,Winter Sports,Winter Sports,Top Equipe 00 White,US,Twain Inc,13198
5500,240800200062,Sports,Winter Sports,Winter Sports,Top Equipe 07 Green,US,Twain Inc,13198
5501,240800200063,Sports,Winter Sports,Winter Sports,Top Equipe 99 Black,US,Twain Inc,13198
5502,240800200064,Sports,Winter Sports,Winter Sports,Alpine Ski Bag 2-pair Black/Yellow,FR,Massif S.A.,13199
5503,240800200065,Sports,Winter Sports,Winter Sports,Alpine Ski Bag Black/Yellow,FR,Massif S.A.,13199

In [104]:
data["Customer Status"].unique()

array(['Silver', 'SILVER', 'Gold', 'GOLD', 'PLATINUM', 'Platinum'],
      dtype=object)

In [105]:
data["Customer Status"] = data["Customer Status"].str.title()

In [106]:
data["Customer Status"].unique()

array(['Silver', 'Gold', 'Platinum'], dtype=object)

In [107]:
len(data['Customer ID'].unique())

56027

In [108]:
unique_customer_count = data['Customer ID'].nunique()
unique_customer_count

56027

In [109]:
data.rename(columns={'Date Order was placed':'Order Date'}, inplace=True)

In [110]:
data.columns

Index(['Customer ID', 'Customer Status', 'Order Date', 'Delivery Date',
       'Order ID', 'Product ID', 'Quantity Ordered',
       'Total Retail Price for This Order', 'Cost Price Per Unit'],
      dtype='object')

In [111]:
data['Order Date'] = pd.to_datetime(data['Order Date'])

C:\Users\Tushar Chauhan\AppData\Local\Temp\ipykernel_13764\3021409918.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Order Date'] = pd.to_datetime(data['Order Date'])

In [112]:
data['Delivery Date'] = pd.to_datetime(data['Delivery Date'])

C:\Users\Tushar Chauhan\AppData\Local\Temp\ipykernel_13764\1531890150.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Delivery Date'] = pd.to_datetime(data['Delivery Date'])

In [113]:
data['Order Date'].dtype

dtype('<M8[ns]')

In [114]:
data['Delivery Date'].dtype

dtype('<M8[ns]')

In [115]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185013 entries, 0 to 185012
Data columns (total 9 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Customer ID                        185013 non-null  int64
 1   Customer Status                    185013 non-null  object
 2   Order Date                         185013 non-null  datetime64[ns]
 3   Delivery Date                      185013 non-null  datetime64[ns]
 4   Order ID                           185013 non-null  int64
 5   Product ID                         185013 non-null  int64
 6   Quantity Ordered                   185013 non-null  int64
 7   Total Retail Price for This Order  185013 non-null  float64
 8   Cost Price Per Unit                185013 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(4), object(1)
memory usage: 12.7+ MB

In [116]:
data['Order ID'].nunique()

185013

In [117]:
data.duplicated().sum()

np.int64(0)

In [118]:
data['Quantity Ordered'].sum()

np.int64(309276)

In [119]:
data_1.duplicated().any()

np.False_

In [120]:
data_1.duplicated().sum()

np.int64(0)

In [121]:
data_1.columns

Index(['Product ID', 'Product Line', 'Product Category', 'Product Group',
       'Product Name', 'Supplier Country', 'Supplier Name', 'Supplier ID'],
      dtype='object')

In [122]:
data_1.head()

,Product ID,Product Line,Product Category,Product Group,Product Name,Supplier Country,Supplier Name,Supplier ID
0,210100100001,Children,Children Outdoors,"Outdoor things, Kids",Boy's and Girl's Ski Pants with Braces,NO,Scandinavian Clothing A/S,50
1,210100100002,Children,Children Outdoors,"Outdoor things, Kids",Children's Jacket,ES,Luna sastreria S.A.,4742
2,210100100003,Children,Children Outdoors,"Outdoor things, Kids",Children's Jacket Sidney,NO,Scandinavian Clothing A/S,50
3,210100100004,Children,Children Outdoors,"Outdoor things, Kids",Children's Rain Set,NO,Scandinavian Clothing A/S,50
4,210100100005,Children,Children Outdoors,"Outdoor things, Kids",Children's Rain Suit,NO,Scandinavian Clothing A/S,50

In [123]:
data_1['Product Line'].unique()

array(['Children', 'Clothes & Shoes', 'Outdoors', 'Sports'], dtype=object)

In [124]:
data_1['Product Category'].unique()

array(['Children Outdoors', 'Children Sports', 'Clothes', 'Shoes',
       'Outdoors', 'Assorted Sports Articles', 'Golf', 'Indoor Sports',
       'Racket Sports', 'Running - Jogging', 'Swim Sports', 'Team Sports',
       'Winter Sports'], dtype=object)

In [125]:
data_1['Supplier Name'].unique()

array(['Scandinavian Clothing A/S', 'Luna sastreria S.A.',
       'AllSeasons Outdoor Clothing', 'Svensson Trading AB',
       'Petterson AB', 'Massif S.A.', 'Miller Trading Inc',
       'Top Sports Inc', 'Twain Inc', '3Top Sports', 'A Team Sports',
       'Dolphin Sportswear Inc', 'Nautlius SportsWear Inc', 'Eclipse Inc',
       'Greenline Sports Ltd', 'Fuller Trading Co.', 'Sportico',
       'Triple Sportswear Inc', 'Pro Sportswear Inc', 'Ypsilon S.A.',
       'Van Dammeren International', 'CrystalClear Optics Inc',
       'Green Lime Sports Inc', 'Mayday Inc', 'Truls Sporting Goods',
       'Ultra Sporting Goods Inc', 'Bon Garrments', 'Norsok A/S',
       'Sockeye Sportswear Inc', 'British Sports Ltd', 'Typhoon Clothing',
       'A. Pereira Sport', 'Le Blanc S.A.', 'Dutchman Bikes',
       'Top Sports', 'Toto Outdoor Gear', 'Magnifico Sports',
       'Prime Sports Ltd', 'KN Outdoor Trading Inc',
       'Outback Outfitters Ltd', 'Royal Darts Ltd', 'Schroeder Trim GmBH',
       'Bianco Trading S.A.', 'Roll-Over Inc', 'EA Sports Limited',
       'Meister Pharma & Chemie GmBH', 'Health-Sports', 'Teamsports Inc',
       'SportPharma Inc', 'Fga Sports Inc', 'Force Sports',
       'GrandSlam Sporting Goods Ltd', 'SportsFan Products Ltd',
       'TeeTime Ltd', 'Carolina Sports', 'Rubby Zapatos S.A.',
       'HighPoint Trading', 'Mike Schaeffer Inc', 'ToughWear S.A.',
       'TrimSport B.V.', 'SD Sporting Goods Inc', 'Harry Penny Ltd',
       'Triffy B.V.', 'SnowSports International GmBH'], dtype=object)

In [126]:
data_1['Supplier Country'].unique()

array(['NO', 'ES', 'US', 'SE', 'FR', 'GB', 'CA', 'NL', 'DK', 'AU', 'PT',
       'DE', 'BE'], dtype=object)

In [127]:
data['Total Cost'] = data['Cost Price Per Unit'] * data['Quantity Ordered']

In [128]:
data['Profit'] = data['Total Retail Price for This Order'] - data['Total Cost']

In [129]:
data['Profit Margin Pct'] = (data['Profit'] / data['Total Retail Price for This Order']) * 100

In [130]:
data

,Customer ID,Customer Status,Order Date,Delivery Date,Order ID,Product ID,Quantity Ordered,Total Retail Price for This Order,Cost Price Per Unit,Total Cost,Profit,Profit Margin Pct
0,579,Silver,2017-01-01,2017-01-07,123002578,220101400106,2,92.6,20.70,41.40,51.20,55.291577
1,7574,Silver,2017-01-01,2017-01-05,123004074,210201000009,1,21.7,9.95,9.95,11.75,54.147465
2,28861,Gold,2017-01-01,2017-01-04,123000871,230100500068,1,1.7,0.80,0.80,0.90,52.941176
3,43796,Gold,2017-01-01,2017-01-06,123002851,220100100633,1,47.9,24.05,24.05,23.85,49.791232
4,54673,Gold,2017-01-01,2017-01-04,123003607,220200200043,1,36.9,18.30,18.30,18.60,50.406504
...,...,...,...,...,...,...,...,...,...,...,...,...
185008,92467,Silver,2021-12-31,2021-12-31,124433239,240100200001,4,64.0,6.35,25.40,38.60,60.312500
185009,92866,Silver,2021-12-31,2021-12-31,124436561,230100500058,1,16.7,7.25,7.25,9.45,56.586826
185010,92894,Silver,2021-12-31,2021-12-31,124434316,220200100035,5,313.0,31.40,157.00,156.00,49.840256
185011,93239,Gold,2021-12-31,2022-01-02,124436170,220200200047,2,271.6,68.00,136.00,135.60,49.926362
185012,93317,Silver,2021-12-31,2021-12-31,124434324,220101400196,4,95.6,10.95,43.80,51.80,54.184100

In [131]:
data['Delivery Days'] = (data['Delivery Date'] - data['Order Date']).dt.days

In [132]:
data

,Customer ID,Customer Status,Order Date,Delivery Date,Order ID,Product ID,Quantity Ordered,Total Retail Price for This Order,Cost Price Per Unit,Total Cost,Profit,Profit Margin Pct,Delivery Days
0,579,Silver,2017-01-01,2017-01-07,123002578,220101400106,2,92.6,20.70,41.40,51.20,55.291577,6
1,7574,Silver,2017-01-01,2017-01-05,123004074,210201000009,1,21.7,9.95,9.95,11.75,54.147465,4
2,28861,Gold,2017-01-01,2017-01-04,123000871,230100500068,1,1.7,0.80,0.80,0.90,52.941176,3
3,43796,Gold,2017-01-01,2017-01-06,123002851,220100100633,1,47.9,24.05,24.05,23.85,49.791232,5
4,54673,Gold,2017-01-01,2017-01-04,123003607,220200200043,1,36.9,18.30,18.30,18.60,50.406504,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185008,92467,Silver,2021-12-31,2021-12-31,124433239,240100200001,4,64.0,6.35,25.40,38.60,60.312500,0
185009,92866,Silver,2021-12-31,2021-12-31,124436561,230100500058,1,16.7,7.25,7.25,9.45,56.586826,0
185010,92894,Silver,2021-12-31,2021-12-31,124434316,220200100035,5,313.0,31.40,157.00,156.00,49.840256,0
185011,93239,Gold,2021-12-31,2022-01-02,124436170,220200200047,2,271.6,68.00,136.00,135.60,49.926362,2
185012,93317,Silver,2021-12-31,2021-12-31,124434324,220101400196,4,95.6,10.95,43.80,51.80,54.184100,0

In [133]:
dim_customers = data[['Customer ID', 'Customer Status']].drop_duplicates()

In [134]:
dim_products = data_1[['Product ID', 'Product Name', 'Product Category', 'Product Group', 'Product Line']].drop_duplicates()

In [135]:
dim_suppliers = data_1[['Supplier ID', 'Supplier Name', 'Supplier Country']].drop_duplicates()

In [136]:
dim_customers

        Customer ID Customer Status
0               579          Silver
1              7574          Silver
2             28861            Gold
3             43796            Gold
4             54673            Gold
...             ...             ...
184991        74775            Gold
184999        82386          Silver
185006        89279          Silver
185008        92467          Silver
185009        92866          Silver

[90680 rows x 2 columns]

In [137]:
dim_products

,Product ID,Product Name,Product Category,Product Group,Product Line
0,210100100001,Boy's and Girl's Ski Pants with Braces,Children Outdoors,"Outdoor things, Kids",Children
1,210100100002,Children's Jacket,Children Outdoors,"Outdoor things, Kids",Children
2,210100100003,Children's Jacket Sidney,Children Outdoors,"Outdoor things, Kids",Children
3,210100100004,Children's Rain Set,Children Outdoors,"Outdoor things, Kids",Children
4,210100100005,Children's Rain Suit,Children Outdoors,"Outdoor things, Kids",Children
...,...,...,...,...,...
5499,240800200061,Top Equipe 00 White,Winter Sports,Winter Sports,Sports
5500,240800200062,Top Equipe 07 Green,Winter Sports,Winter Sports,Sports
5501,240800200063,Top Equipe 99 Black,Winter Sports,Winter Sports,Sports
5502,240800200064,Alpine Ski Bag 2-pair Black/Yellow,Winter Sports,Winter Sports,Sports
5503,240800200065,Alpine Ski Bag Black/Yellow,Winter Sports,Winter Sports,Sports

In [138]:
dim_suppliers

      Supplier ID                  Supplier Name Supplier Country
0              50      Scandinavian Clothing A/S               NO
1            4742            Luna sastreria S.A.               ES
6             772    AllSeasons Outdoor Clothing               US
10           6355            Svensson Trading AB               SE
20            109                   Petterson AB               SE
...           ...                            ...              ...
4407        16542                 TrimSport B.V.               NL
4409        13710          SD Sporting Goods Inc               US
4818        18012                Harry Penny Ltd               GB
4879        13314                    Triffy B.V.               NL
5351         6991  SnowSports International GmBH               DE

[64 rows x 3 columns]

In [139]:
data.to_csv("fact_orders.csv", index=False)
dim_products.to_csv("dim_products.csv", index=False)
dim_suppliers.to_csv("dim_suppliers.csv", index=False)
dim_customers.to_csv("dim_customers.csv", index=False)

In [142]:
import boto3

In [143]:
s3 = boto3.client('s3')

bucket_name = "retail-business-tushar"

files = [
    "fact_orders.csv",
    "dim_products.csv",
    "dim_suppliers.csv",
    "dim_customers.csv"
]

for file in files:
    s3.upload_file(
        Filename=file,
        Bucket=bucket_name,
        Key=f"cleaned/{file}"
    )

print("Clean data uploaded to S3")

Clean data uploaded to S3

In [144]:
from sqlalchemy import create_engine

In [145]:
engine = create_engine("mysql+mysqlconnector://root:153182#Tushar@localhost:3306/retail_analysis")

In [152]:
data.to_sql(
    name="fact_order",
    con=engine,
    if_exists="replace",
    index=False
)
print("Data loaded into MySQL successfully")

Data loaded into MySQL successfully

In [153]:
dim_products.to_sql(
    name="product",
    con=engine,
    if_exists="replace",
    index=False
)

5504

In [154]:
dim_suppliers.to_sql(
    name="suplliers",
    con=engine,
    if_exists="replace",
    index=False
)

64

In [155]:
dim_customers.to_sql(
    name="customers",
    con=engine,
    if_exists="replace",
    index=False
)

90680